<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <h1>Echo</h1>
    </header>

    <main>
    <h3>All Chats!</h3>
    <% for (let chat of chats)  {%>
        <div class="chat">
            <p>From: <b><%= chat.from %></b></p>
            <div class="msg">
                <p><%= chat.msg %></p>
            </div>
            <p>Recieved By: <b><%= chat.to %></b></p>
        </div>
     <% } %> 
     <a href="http://localhost:8080/chats/new" class="create_btn">Write New Chat</a>  
    </main>
</body>
</html>