<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= ["hello","bonjur","namaste"][2] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, provident eaque, perspiciatis quod excepturi error similique nihil exercitationem sapiente animi reiciendis expedita voluptates praesentium sit quo reprehenderit? Nostrum, optio ullam.</p>
    <button>click me</button>
    <%- include("includes/footer.ejs") %>
</body>
</html>