<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <header>
        <h1>Quora Posts</h1>
    </header>
    <main>
        <h2>Edit Your Post</h2>
        <p>Post id : <%= post.id %></p>
        <p>Post Username: @<%=post.username%></p>
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
            <textarea rows="5" cols="25" name="content"><%= post.content %> </textarea>
            <button>Submit</button>
        </form>
    </main>
    <br>
        <button class="create-btn"><a href="http://localhost:8080/posts/">Back To Home</a></button>
</body>
</html>