<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <header>
        <h1>Quora Posts</h1>
    </header>
    <main>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username" name="username" >
        <br>
        <textarea name="content" placeholder="write your post"></textarea>
        <br>
        <button>Insert Post</button>
    </form>
    </main>
    <br>
        <button class="create-btn"><a href="http://localhost:8080/posts/">Back To Home</a></button>

</body>
</html>